**/__pycache__/
**/build/
*.pyc
logs.txt*
**/*.log
*.egg-info/
dist/
**/*.avi
**/*.mp4
**/*.trc
**/*.sto
**/*.c3d
**/*.json
**/*.jpg
**/*.png
**/*.csv

**/Calib_qualisys.toml
**/pose-3d/
**/pose/
**/pose-sync/
**/pose-associated/
**/kinematics/

# 実験データディレクトリ（Pose2Sim/20YYMMDD*）
Pose2Sim/20*/
